.generalMarginsGenerator (@index) when (@index >= @margin-generator-start-size) {

    .ml@{index},
    .ml-xs-@{index}
    {
        margin-left: unit(@index, px);
    }

    .mt@{index}
    .mt-xs-@{index}
    {
        margin-top: unit(@index, px);
    }

    .mr@{index},
    .mr-xs-@{index}
    {
        margin-right: unit(@index, px);
    }

    .mb@{index},
    .mb-xs-@{index} {
        margin-bottom: unit(@index, px);
    }

    .m@{index},
    .m-xs-@{index}
    {
        margin: unit(@index, px);
    }

    .pl@{index},
    .pl-xs-@{index}
    {
        padding-left: unit(@index, px);
    }

    .pt@{index},
    .pt-xs-@{index}
    {
        padding-top: unit(@index, px);
    }

    .pr@{index},
    .pr-xs-@{index}
    {
        padding-right: unit(@index, px);
    }

    .pb@{index},
    .pb-xs-@{index}
    {
        padding-bottom: unit(@index, px);
    }

    .p@{index},
    .p-xs-@{index}
    {
        padding: unit(@index, px);
    }

    @media (min-width: @screen-sm-min) {

        .ml-sm-@{index} {
            margin-left: unit(@index, px);
        }

        .mt-sm-@{index} {
            margin-top: unit(@index, px);
        }

        .mr-sm-@{index} {
            margin-right: unit(@index, px);
        }

        .mb-sm-@{index} {
            margin-bottom: unit(@index, px);
        }

        .m-sm-@{index} {
            margin: unit(@index, px);
        }

        .pl-sm-@{index} {
            padding-left: unit(@index, px);
        }

        .pt-sm-@{index} {
            padding-top: unit(@index, px);
        }

        .pr-sm-@{index} {
            padding-right: unit(@index, px);
        }

        .pb-sm-@{index} {
            padding-bottom: unit(@index, px);
        }

        .p-sm-@{index} {
            padding: unit(@index, px);
        }
    }

    @media (min-width: @screen-md-min) {

        .ml-md-@{index} {
            margin-left: unit(@index, px);
        }

        .mt-md-@{index} {
            margin-top: unit(@index, px);
        }

        .mr-md-@{index} {
            margin-right: unit(@index, px);
        }

        .mb-md-@{index} {
            margin-bottom: unit(@index, px);
        }

        .m-md-@{index} {
            margin: unit(@index, px);
        }

        .pl-md-@{index} {
            padding-left: unit(@index, px);
        }

        .pt-md-@{index} {
            padding-top: unit(@index, px);
        }

        .pr-md-@{index} {
            padding-right: unit(@index, px);
        }

        .pb-md-@{index} {
            padding-bottom: unit(@index, px);
        }

        .p-md-@{index} {
            padding: unit(@index, px);
        }
    }

    @media (min-width: @screen-lg-min) {

        .ml-lg-@{index} {
            margin-left: unit(@index, px);
        }

        .mt-lg-@{index} {
            margin-top: unit(@index, px);
        }

        .mr-lg-@{index} {
            margin-right: unit(@index, px);
        }

        .mb-lg-@{index} {
            margin-bottom: unit(@index, px);
        }

        .m-lg-@{index} {
            margin: unit(@index, px);
        }

        .pl-lg-@{index} {
            padding-left: unit(@index, px);
        }

        .pt-lg-@{index} {
            padding-top: unit(@index, px);
        }

        .pr-lg-@{index} {
            padding-right: unit(@index, px);
        }

        .pb-lg-@{index} {
            padding-bottom: unit(@index, px);
        }

        .p-lg-@{index} {
            padding: unit(@index, px);
        }
    }

    .generalMarginsGenerator(@index - @margin-generator-step);
}

.generalMarginsGenerator (@margin-generator-start-size) {}
.generalMarginsGenerator (@margin-generator-end-size);

