// Margin generators
$margin-generator-end-size:         20;
$margin-generator-start-size:      -20;
$margin-generator-step:             1;

//From bootstrap v.3.x.x - screen breakpoints
$screen-xs-min:              480px;
$screen-sm-min:              768px;
$screen-md-min:              992px;
$screen-lg-min:              1200px;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

